body {
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;  
}

.sub_button {
    height: 38px;
    background-color: #e8491d;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-size: 15px;
}

/*global*/

header ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    min-height: 10px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}


header li {
    float: left;
    display: inline;
    padding: 0 5px 0 15px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 30px;
}
    
header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* showcase */

#showcase {
    min-height: 400px;
    background: url('/Images/showcase.jpg') no-repeat 0 -250px;
    color: white; 
    text-align: center;
}


#showcase h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
}

#showcase p {
    font-size: 20px;
}

/* newletter */

#newsletter{
    padding: 15px;
    color: #ffffff;
    background-color: #35424a;
}

#newsletter h1 {
    float: left;
    margin-bottom: 30px;
    margin-top: 20px;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter #container {
    height: 65px;
}

#newsletter input[type = "email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    padding: 10px;
    text-align: center;
    width: 30%;
    float: left;
    margin: 5px;
}

#boxes .box img {
    width: 90px;
}

/* sidebar */
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 30px;
}

#main-col {
    float: left;
    width: 65%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e8491d;
    color: #ffffff;
}